<!DOCTYPE html>
<html>
  <head>
    <title>Authorization Error</title>
    <link rel="icon" type="image/png" href="/assets/calendar.png">
  </head>
  <body>
    <h1>Authorization Error</h1>
    <p>Authorization failed. Please try again.</p>
  </body>
</html>

