<!DOCTYPE html>
<html>
  <head>
    <title>Google Calendar API Authorization</title>
    <link rel="icon" type="image/png" href="/assets/calendar.png">
  </head>
  <body>
    <div style="text-align: center; margin-top: 100px;">
      <h1>Google Calendar API Authorization</h1>
      <img src="/assets/calendar_logo.png" alt="Google Contacts" style="width: 120px; height: 120px;">
      <p>Click the button below to authorize access to your Google Calendar:</p>
      <a href="/auth"><button>Authorize</button></a>
    </div>
  </body>
</html>

