<!DOCTYPE html>
<html>
  <head>
    <title>Authorization Successful</title>
    <link rel="icon" type="image/png" href="/assets/calendar.png">
  </head>
  <body>
    <div style="text-align: center; margin-top: 100px;">
      <h1>Authorization Successful</h1>
      <img src="/assets/calendar_logo.png" alt="Google Contacts" style="width: 120px; height: 120px;">
      <p>Your application has been authorized to access Google Calendar.</p>
      <p>Your AI Agent calendar include url is <br/><b><TMPL_VAR name="url"></b></p>
      <p>AI Agent calendar <b><a href="<TMPL_VAR name="settings_url">">settings</a></b></p>
    </div>
  </body>
</html>

