
modules = ["python-3.12", "web", "bash"]
run = "bash start.sh"

[nix]
channel = "stable-24_05"
packages = ["freetype", "glibcLocales", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "bash start.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Run"
