<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Events</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="css/events.css">
    <link rel="icon" href="/assets/icon.png" type="image/png">
    <meta property="og:title" content="Live Events" />
    <meta property="og:description" content="Live updates of events." />
    <meta property="og:image" content="/assets/signalwire.png" />
    <meta property="og:url" content="https://signalwire.com" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Live Events" />
</head>
<body>
    <div class="container">
        <h1>Live Events</h1>
        <textarea id="events" class="events" readonly></textarea>
	<form id="send-cmd" accept-charset="utf-8">
	  <input type="text" class="events" size="50" id="message-input" placeholder="Enter message"><br/>
	</form><br/>
        <div class="button-group">
            <button id="homeButton" class="button">Back Home</button>
            <button id="hangupButton" class="button">Hang Up</button>
        </div>
    </div>
    <script src="js/events.js"></script>
</body>
</html>

